@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom global styles */
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "SF Pro Text",
    ui-sans-serif, sans-serif;
}
